version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "daily"
    pull-request-branch-name:
      separator: "-"
    cooldown:
      default-days: 4
